---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";

interface Project {
  name: string;
  slug: string;
}
// fetching data

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        relatedServices{
          name
          slug
        }
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
const relatedServices: Project[] = json.data.relatedServices;
---

<Layout title="" description="" url="" ogImage="" ogAlt="">
  <main>
    <h1>Services</h1>

    <div>
      {
        relatedServices.map((service) => (
          <div>
            <a href={`/services/${service.slug}`}>{service.name}</a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
