---
export const prerender = true;
import Layout from "../../../layouts/Layout.astro";

// fetching data
export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          services{
            name
            slug
            relatedServices {
              name
              slug
            }
          }
        }`,
    }),
  });

  const json = await response.json();

  const paths = json.data.services.map((service: any) => ({
    params: { slug: service.slug },
    props: { service },
  }));

  return paths;
}

const { service } = Astro.props;
---

<Layout title="" description="" url="" ogImage="" ogAlt="">
  <main>
    <h1>{service.name}</h1>

    <h2>Related Services</h2>
    <ul>
      {
        service.relatedServices.map((relatedService: any) => (
          <li >
            <a href={`/related-services/${relatedService.slug}`}>
              {relatedService.name}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
