---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Ttl from "../components/Ttl.astro";
---

<Layout
  title="Avidu | Front-end Developer and Website Designer"
  description=""
  ogAlt=""
  ogImage=""
  url=""
>
  <main>

    <Ttl big="services" small="what is do" />
    
    <h1>Hi I'm Avidu Sampath</h1>
    <h2>Hi I'm Avidu Sampath</h2>
    <h3>Hi I'm Avidu Sampath</h3>
    <h4>Hi I'm Avidu Sampath</h4>
    <p>Hi I'm Avidu Sampath</p>
    <a>Hi I'm Avidu Sampath</a>
    <li>Hi I'm Avidu Sampath</li>
  </main>
</Layout>

<style></style>
