---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Ttl from "../components/Ttl.astro";
import Intro from "../components/Intro.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Avidu | Front-end Developer and Website Designer"
  description=""
  ogAlt=""
  ogImage=""
  url=""
>
  <main>
    <!-- hero -->
    <section>
      <Hero title="front-end developer/ website designer" />
    </section>
    <!-- introduction -->
    <section>
      <Intro />
    </section>
    <!-- services -->
    <!-- why me -->
    <!-- process -->
    <!-- recent work without images -->
    <!-- questions -->
  </main>
</Layout>

<style></style>
