---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Avidu | Front-end Developer and Website Designer" description='' ogAlt='' ogImage='' url='' >
	<main>
		<h1>Front-end developer</h1>
		<h2>Hi I'm Avidu Sampath</h2>
		<h3>Hi I'm Avidu Sampath</h3>
		<h4>Hi I'm Avidu Sampath</h4>
		<h5>Hi I'm Avidu Sampath</h5>
		<p>Hi I'm Avidu Sampath</p>
		<a>Hi I'm Avidu Sampath</a>
		<li>Hi I'm Avidu Sampath</li>
	</main>
</Layout>

<style>
</style>
