<header>
  <nav class="navMenu">
    <div class="logo">
      <a href="/">/Avidu</a>
    </div>
    <div class="menuLinks">
      <a href="/services">Which</a>
      <a href="/projects">Works</a>
      <a href="/about">Me</a>
      <a href="/contact">Reach</a>
    </div>
  </nav>
</header>

<style>
  a {
    /* padding: 10px; */
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menuLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menuLinks a {
    padding: 0 0.5rem;
  }
</style>
