---

---

<div>
  <p class="">
    As a front-end developer, I specialize in bringing business ideas to life
    with some artistic uniqueness. I can help you / your business to stand out
    from the competition by great user experiences, meantime serving the main
    purpose of selling your story
  </p>
</div>

<style>
  p {
    font-size: var(--p-lg);
  }
</style>
