---
import Layout from "../../layouts/Layout.astro";

// fetching data
export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
            relatedServices {
                name
                slug
            }
        }`,
    }),
  });

  const json = await response.json();

  const paths = json.data.relatedServices.map((relatedService) => ({
    params: { slug: relatedService.slug },
    props: { relatedService },
  }));

  return paths;
}

const { relatedService } = Astro.props;
---

<Layout title="" description="" url="" ogImage="" ogAlt="">
  <main>
    <div>
      <h1>{relatedService.name}</h1>
    </div>
  </main>
</Layout>
